.profile {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    align-items: center;
}
.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 74px 0 108px;
}

.profile__form {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
    margin-bottom: 202px;
}
.profile__container {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000000;
    margin: 17px 0;
}

.profile__line {
    border-bottom: 1.5px solid #e8e8e8;
    margin: 0;
}

.profile__button {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-bottom: 14px;
}

.profile__signin {
    color: #ff4062;
    text-decoration: none;
    margin-top: 14px;
}

@media screen and (max-width: 320px) {
    .profile__title {
        margin: 65px 0 62px;
    }
    .profile__container {
        margin: 17px 30px;
    }
    .profile__form {
        margin-bottom: 361px;
    }
    .profile__button {
        font-size: 12px;
    }
    .profile__signin {
        font-size: 12px;
    }
}
