.profile {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    align-items: center;
}
.profile__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 74px 0 108px;
}

.profile__input {
    text-align: right;
    border: none;
    background-color: white;
}
.profile__input:focus {
    background-color: gold;
}
.profile__form {
    display: flex;
    flex-direction: column;
    max-width: 410px;
    width: 100%;
}
.profile__container {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: right;
    color: #000000;
    margin: 17px 0;
}

.profile__line {
    border-bottom: 1.5px solid #e8e8e8;
    margin: 0;
}

.profile__button {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 202px 0 14px;
}

.profile__button-save {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 202px 0 14px;
}

.profile__button-exit {
    color: #ff4062;
    text-decoration: none;

    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    outline: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    margin-bottom: 200px;
}

@media screen and (max-width: 320px) {
    .profile__title {
        margin: 65px 0 62px;
    }
    .profile__container {
        margin: 17px 30px;
    }
    .profile__form {
        margin-bottom: 361px;
    }
    .profile__button {
        font-size: 12px;
    }
    .profile__signin {
        font-size: 12px;
    }
    .profile__button-save {
        margin-top: 361px;
    }
    .profile__button {
        margin-top: 361px;
    }
}

.register__input_error {
    color: #ff4062;
}

.register__input_error:focus {
    border-bottom: 1px solid #ff4062;
}

.profile__text-error {
    margin-top: 4px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ff4062;
}
