.about-project {
    margin: 110px 70px 105px;
}

.about-project__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 23px;
    margin: 0;
}
.about-project__container {
    display: flex;
    gap: 120px;
    margin: 70px 70px 92px 0;
}

.about-project__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    max-width: 500px;
    color: #000000;
    margin: 0;
}

.about-project__info {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 26px 0 0;
}

.about-project__time-work {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    justify-items: center;
}

.about-project__one-week {
    width: 100%;
    max-width: 200px;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
    padding: 9px 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.about-project__four-week {
    max-width: 912px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    background-color: #f2f2f2;
    color: #000000;
    padding: 9px 14px;
}

.about-project__language {
    display: flex;
    gap: 370px;
}
.about-project__backend {
    width: 100%;
    max-width: 200px;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a0a0a0;
}
.about-project__frontend {
    width: 100%;
    max-width: 200px;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    text-align: center;

    color: #a0a0a0;
}

@media screen and (max-width: 768px) {
    .about-project {
        margin: 90px 50px;
    }
    .about-project__container {
        gap: 37px;
        margin: 70px 0 97px;
    }
    .about-project__title {
        margin: 0;
    }
    .about-project__time-work {
        margin: 0;
        grid-template-columns: 1fr 4fr;
    }
    .about-project__backend {
        margin: 0;
        font-size: 14px;
    }
    .about-project__frontend {
        margin: 0;
        font-size: 14px;
    }
    .about-project__four-week {
        max-width: 500px;
        margin: 14px 0;
    }
    .about-project__one-week {
        max-width: 115px;
        padding-top: 10px;
        margin: 14px 0;
    }
    .about-project__info {
        font-size: 12px;
        line-height: 18px;
        margin: 22px 0 0;
    }
}
@media screen and (max-width: 550px) {
    .about-project {
        margin: 70px 18px;
    }
    .about-project__title {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
    }
    .about-project__container {
        flex-direction: column;
        margin: 61px 0;
        gap: 72px;
    }
    .about-project__subtitle {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        letter-spacing: -0.72px;
    }
    .about-project__info {
        font-size: 11px;
        font-style: normal;
        line-height: 16px;
        margin: 16px 0 0;
    }
    .about-project__time-work {
        margin: 0;
        grid-template-columns: 100px 157px;
    }
    .about-project__one-week {
        font-size: 11px;
        width: 100px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .about-project__four-week {
        font-size: 11px;
        width: 157px;
        margin-bottom: 10px;
    }
    .about-project__backend {
        font-size: 11px;
        padding: 0 25px 0 0;
    }
    .about-project__frontend {
        font-size: 11px;
    }
}
