.movies-card-list__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-decoration: none;
    padding: 0;
}
.movies-card-list {
    margin-top: 79px;
}
.movies-card-list__bth:hover {
    opacity: 0.8;
    border: 1px solid rgb(198, 198, 198);
}

.movies-card-list__bth {
    max-width: 1140px;
    width: 100%;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    background: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    margin: 50px 0 80px 0;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    .movies-card-list {
        margin-top: 68px;
    }
    .movies-card-list__bth {
        margin: 80px 0 80px 0;
    }
}
@media screen and (max-width: 400px) {
    .movies-card-list__bth {
        margin: 50px 0 30px;
    }
    .movies-card-list__list {
        gap: 20px;
    }
}
