.techs {
    background: #f5f5f5;
    padding: 100px 70px 100px;
}

.techs__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 23px;
    margin: 0;
}

.techs__subtitle {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 90px 0 26px;
}

.techs__text {
    max-width: 460px;
    text-align: center;
    margin: auto;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.56px;
}

.techs__conatainer {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;

    margin: 100px 0 0;
    padding: 0;
}

.techs__texnolog {
    width: 100%;
    max-width: 90px;
    padding: 22px 0;
    text-align: center;
    background: #e8e8e8;
    border-radius: 10px;
    letter-spacing: -0.56px;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .techs {
        padding: 90px 50px 90px;
    }
    .techs__title {
        margin: 0;
    }
    .techs__subtitle {
        margin: 80px 0 22px;
    }
    .techs__text {
        line-height: 18px;
        letter-spacing: -0.48px;
        font-size: 12px;
    }
    .techs__conatainer {
        margin: 83px 0 0;
    }
    .techs__texnolog {
        max-width: 84px;
        padding: 21px 0;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}
@media screen and (max-width: 500px) {
    .techs {
        padding: 62px 18px 70px;
        background: #fff;
    }
    .techs__title {
        width: 100%;
        font-size: 18px;
        padding-bottom: 27px;
    }
    .techs__subtitle {
        font-size: 30px;
        margin: 50px 0 10px;
    }
    .techs__text {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: -0.44px;
        max-width: 292px;
    }
    .techs__conatainer {
        display: grid;
        grid-template-columns: 84px 84px;
        justify-items: center;
        margin: 54px 0 0;
    }
}
