.header__logo {
    max-width: 38px;
    width: 100%;
    max-height: 38px;
    width: 100%;
}

.header {
    padding: 18px 70px;
    background-color: #f3c1f8;
    max-width: 1140px;
    width: 100%;
}
.header__content {
    display: flex;
    justify-content: space-between;
}

.header_nav {
    max-width: 1140px;
    width: 100%;
    padding: 18px 70px;
}

@media screen and (max-width: 768px) {
    .header_nav {
        padding: 18px 30px;
    }
    .header {
        padding: 19px 30px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        padding: 18px 14px;
    }
    .header_nav {
        padding: 18px 14px;
    }
}
