.movies-card {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
}
.movies-card__photo {
    width: 220px;
    height: 122px;
    margin-top: 5px;
}
.movies-card__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    max-width: 400px;
    width: 100%;
    margin-bottom: 13px;
}

.movies-card__duration {
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #a0a0a0;
}
.movies-card__body {
    padding: 22px 22px 0;
}

.movies-card__like {
    background-image: url("../../../images/save5d.svg");
    width: 14px;
    outline: none;
    border: none;
    height: 12px;
    background-color: transparent;
    margin: 31px 0 21px;
    cursor: pointer;
}

.movies-card__delete {
    width: 14px;
    height: 12px;
    margin: 31px 0 21px;
    outline: none;
    border: none;
    background-color: transparent;
    background-image: url("../../../images/d5.svg");
    cursor: pointer;
}

.movies-card__like_active {
    background-image: url("../../../images/d5.svg");
}
.movies-card__like_active-heart {
    background-image: url("../../../images/save10.svg");
}

.movies-card__card {
    max-width: 1140px;
    width: 100%;
}

@media screen and (max-width: 320px) {
    .movies-card {
        display: grid;
    }
    .movies-card__body {
        grid-row: 2/2;
        grid-template-columns: 3fr 1fr;
        display: grid;
        padding: 0;
    }
    .movies-card__photo {
        width: 300px;
        height: 168px;
        margin: 0;
    }
    .movies-card-list {
        margin: 0;
    }
    .movies-card__name {
        font-size: 12px;
        margin: 7px 12px 6px;
    }
    .movies-card__like {
        grid-column: 2/2;
        grid-row: 1/2;
        margin: 0;
        margin: 14px 0 0 45px;
    }
    .movies-card__duration {
        grid-column: 1/2;
        margin: 0 12px 13px;
    }
}
