.register__logo {
    background-image: url(../../images/logo.svg);
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
}

.register__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 40px;
}
.register__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.register {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    width: 100%;
    margin: 70px 0;
}

.register__form {
    display: flex;
    flex-direction: column;
}
.register__label {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
    position: relative;
    margin-bottom: 10px;
}
.register__input {
    outline: none;
    background: #f9f9f9;
    border: none;
    border-radius: 8px;
    max-height: 46px;
    height: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 15px;

    color: #000000;
}

.register__button {
    background: #000000;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 69px;
    padding: 13px 15px;
    border: none;
    cursor: pointer;
}
.register__button:hover {
    background-color: #f3c1f8;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f3c1f8;
}

.register__link {
    margin-top: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a0a0a0;
}

.register__signin {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .register {
        margin: 232px 0;
    }
}

@media screen and (max-width: 320px) {
    .register {
        margin: 56px 0;
        align-items: center;
    }
    .register__logo {
        margin: 0 0 50px 0;
    }
    .register__title {
        margin: 0 0 80px;
    }
    .register__input {
        min-width: 230px;
    }
    .register__button {
        margin-top: 159px;
        font-size: 12px;
    }
    .register__link {
        font-size: 12px;
        margin-top: 15px;
        margin-left: 6px;
    }
    .register__signin {
        font-size: 12px;
    }
}

.register__input_error {
    color: #ff4062;
}

.register__input_error:focus {
    border-bottom: 1px solid #ff4062;
}

.register__text-error {
    margin-top: 4px;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #ff4062;
}
