.promo {
    background: #f3c1f8;
    width: 100%;
    height: 100%;
    max-height: 648px;
}
.promo__button {
    padding: 9px 20px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    background-color: transparent;
    margin: 0 0 76px 70px;
}

.promo__container {
    display: flex;
    justify-content: space-between;
    margin: 0 70px;
    max-height: 495px;
}
.promo__title {
    color: #000000;
    font-size: 50px;
    line-height: 58px;
    max-width: 640px;
    margin: 0 0 36px 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
}
.promo__subtitle {
    width: 100%;
    max-width: 310px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    margin: 0;

    color: #000000;
    opacity: 50%;
}

.promo__container-text {
    width: 100%;
    max-width: 640px;
    margin: 73px 0 148px 0px;
}
.promo__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
}

.promo__logo {
    width: 100%;
    max-width: 316px;
    height: 100%;
    max-height: 305px;
    margin: 77px 0 0 0;
}

@media screen and (max-width: 768px) {
    .promo {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 860px;
        height: 100%;
    }
    .promo__container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 149px 0 92px;
        justify-items: center;
        row-gap: 50px;
    }

    .promo__logo {
        max-width: 310px;
        width: 100%;
        max-height: 306px;
        height: 100%;
        margin: 0;
        grid-row: 1;
    }
    .promo__title {
        font-size: 40px;
        text-align: center;
        font-weight: 400;
        line-height: 50px;
        margin: 0;
    }
    .promo__container-text {
        grid-row: 2;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 22px;
    }
    .promo__subtitle {
        text-align: center;
        max-width: 260px;
    }
    .promo__button {
        margin: 0 0 77px;
    }
}

@media screen and (max-width: 400px) {
    .promo__logo {
        max-width: 210px;
        width: 100%;
        min-height: 206px;
        height: 100%;
    }
    .promo__container {
        margin: 70px 0 80px;
        row-gap: 44px;
    }
    .promo__title {
        font-size: 30px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: -1.2px;
    }
    .promo__container-text {
        gap: 24px;
    }

    .promo__button {
        margin: 0 0 30px;
    }
}
