.search-form {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 83px;
    margin-top: 80px;
}

.search-form__form {
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    display: inline-flex;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    max-width: 910px;
    width: 100%;
}
.search-form__input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    background-color: transparent;
    color: #000000;
    max-width: 900px;
    width: 100%;
}

.search-form__input::placeholder {
    color: #a0a0a0;
}

.search-form__submit {
    border: none;

    cursor: pointer;
    max-width: 80px;
    width: 100%;
    background: #000000;
    border-radius: 48px;
    margin: 7px 7px 7px 0;
    height: 34px;
}

.search-form__img {
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .search-form__form {
        max-width: 685px;
    }
    .search-form {
        margin-top: 56px;
        padding-bottom: 110px;
    }
}

@media screen and (max-width: 320px) {
    .search-form__form {
        max-width: 280px;
    }
    .search-form {
        margin: 53px 5px 50px;
        padding-bottom: 105px;
    }
}
