.login__logo {
    background-image: url(../../images/logo.svg);
    width: 38px;
    height: 38px;
    margin-bottom: 40px;
}

.login__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 40px;
}

.login__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.login {
    display: flex;
    flex-direction: column;
    max-width: 396px;
    width: 100%;
    margin: 70px 0;
}

.login__form {
    display: flex;
    flex-direction: column;
}
.login__label {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8b8b8b;
    position: relative;
    margin-bottom: 10px;
}
.login__input {
    margin-bottom: 20px;
    outline: none;
    background: #f9f9f9;
    border: none;
    border-radius: 8px;
    max-height: 46px;
    height: 100%;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 15px;

    color: #000000;
}

.login__button {
    background: #000000;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-top: 160px;
    padding: 13px 15px;
    border: none;
    cursor: pointer;
}
.login__button:hover {
    background-color: #f3c1f8;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f3c1f8;
}

.login__link {
    margin-top: 19px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a0a0a0;
}
.login__signin {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

@media screen and (max-width: 768px) {
    .login {
        margin: 232px 0;
    }
}
@media screen and (max-width: 320px) {
    .login {
        margin: 56px 0;
        align-items: center;
    }
    .login__logo {
        margin: 0 0 50px 0;
    }
    .login__title {
        margin: 0 0 80px;
    }
    .login__input {
        min-width: 230px;
    }
    .login__button {
        margin-top: 247px;
        font-size: 12px;
    }
    .login__link {
        font-size: 12px;
        margin-top: 15px;
        margin-left: 6px;
    }
    .login__signin {
        font-size: 12px;
    }
}
